@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&display=swap');

body{
    font-family: 'Courier Prime', monospace;
}
.pokemon {
    margin: 0 auto;
    max-width: 1140px;
    margin-top: 2.5rem;
}

.h1 {
    text-align: center;
    text-transform: uppercase;
}
