.card{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1 );
    -moz-user-select: none;
    -website-user-select: none;
    -webkit-user-select: none;
    user-select:none;
    -moz-user-select: none;
}

.card:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    
}
.cardPokemon:hover{
    cursor: crosshair;
    cursor: url(./img/more.png) 40 40, crosshair;
}
.cardPokemon {
    background: #fff!important;
    opacity: 1;
}

.cardPokemon:hover {
    opacity: 0.5;
}
.pokemon .card-img-top {
    margin: 1rem auto;
}

.pokemon h6 {
    text-align: center;
    margin-bottom: 1rem;
}

.pokemon img {
    height: 5rem;
    width: 5rem;
    display: block;
}

.card-header {
    padding: 0.75rem 0.45rem;
}


.LinkCard, .LinkCard:hover  {
    text-decoration: none;
    color: #000;
}