.pokedex span{
    text-transform: capitalize;
}

.pokedex img {
    height: 5rem;
    width: 5rem;
}

.pokedex h3{
    text-transform: capitalize ;
}

.row.align-items-center.description {
    margin-top: 4%;
}

a.card-link {
    color: #000;
}

.card-footer h5{
    margin-bottom: 0;
    text-decoration: none;
}

.card-footer a {
    color: #000;
    text-decoration: none;
}